TravelOnTip/src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="0c0ddef3-24b5-4835-ac6b-efa3b66c20cd" >
		<http:listener doc:name="Listener" doc:id="bb1447e3-5106-4952-8b62-637c0bd757ae" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="5130efbe-3321-4493-a8d2-e561c009406c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.servicType]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.servicType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/json
---
attributes.header.transactionId]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="12514dea-aa48-4a02-bf70-6eee73171ada" message="Request Recieved for TravelOnTip External System For transactionId TransactionId #[vars.transactionId]" />
		<choice doc:name="Choice" doc:id="633e1fbc-cbc5-499d-81b9-bf13621c9fcc" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="077882a5-2fe9-4fe0-96d3-080efb68d154" message="Routes flow called  for TravelOnTip External System For transactionId TransactionId #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="76f74b57-7b51-4487-b9bb-911fdf5c816c" name="TravelOnTip-GetRoutes-ImplementationSub-Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="c655cb30-3da9-4a25-82dd-e47365c60ce4" message="schedule flow called for TravelOnTip External System For transactionId TransactionId #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="962e0651-55dd-485a-a74a-ad3949bf269a" name="TravelOnTip-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="886a076c-3245-4573-bdf3-da8cd74c9665" message="URI Parameter is not correct for TravelOnTip External System For transactionId TransactionId #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="51dbe7e2-7393-46ee-b7b2-c30ec6dbec13" message="Response Sent for fastGo External System For transactionId TransactionId #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0ae3c20d-e9eb-4821-8246-acd8a3a6c17e" >
				<logger level="INFO" doc:name="Logger" doc:id="c52862ec-e174-4f8b-8134-d144826e9afc" message="Error Occured for TravelOnTip External System for TransactionId #[attributes.header.transactionId] reason#[error.errorMessage] errortype #[error.errortype]"/>
				<ee:transform doc:name="Transform Message" doc:id="8fe6aef7-8862-4bd4-8cf3-6bdb7dca5904" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode" : "XE1023",
	"ErrorMessage" : "Error in TravelonTip External system"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>





</mule>
